@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	outline: none;
	box-sizing: border-box;
}

body {
	background: #e5e6f0;
	min-height: 100vh;
	-webkit-font-smoothing: antialiased;
}

body,
button,
input {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

button {
	cursor: pointer;
}

button:hover,
a:hover {
	filter: brightness(0.9);
}
