aside {
	width: 20rem;
	background: #fff;
	box-shadow: 0 0 0.875rem 0 rgba(0, 0, 0, 0.02);
	border-radius: 0.125rem;
	padding: 1.875rem 1.25rem;
}

aside strong {
	font-size: 1.25rem;
	text-align: center;
	display: block;
	color: #333;
}

@media (max-width: 1024px) {
	aside {
		width: 100%;
	}
}
